.pager li > a, .pager li > span {
	border-radius: 0;
}

.alert-info {
	color: #E4791D;
    background-color: #454545;
    border-color: #2a2a2a !important;
}

tr.CartProduct td input {
	text-align: center;
}
