.sweet-alert {
	background-color: #454545;
	border-radius: 0;
}

.sweet-alert button {
	background-color: #F27474 !important;
}

.sweet-alert h2 {
	color: white;
}

.sweet-alert p {
	color: white;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.pager li > a, .pager li > span {
	border-radius: 0;
}

.alert-info {
	color: #E4791D;
	background-color: #454545;
	border-color: #2a2a2a !important;
}

tr.CartProduct td input {
	text-align: center;
}

.sweet-alert .sa-icon.sa-success::before {
	-webkit-border-radius: 120px 0 0 120px;
	border-radius: 120px 0 0 120px;
	top: -7px;
	left: -33px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 60px 60px;
	transform-origin: 60px 60px;
	background-color: transparent;
}

.sweet-alert .sa-icon.sa-success .sa-fix {
	width: 5px;
	height: 90px;
	background-color: transparent;
	position: absolute;
	left: 28px;
	top: 8px;
	z-index: 1;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sweet-alert .sa-icon.sa-success::after {
	-webkit-border-radius: 0 120px 120px 0;
	border-radius: 0 120px 120px 0;
	top: -11px;
	left: 30px;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0px 60px;
	transform-origin: 0px 60px;
	background-color: transparent;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
	background-color: #E4791D !important;
	border-color: #E4791D;
	color: #FFFFFF;
}

.btn-discover:hover, .btn-site:hover, .newsLatterBox .btn:hover {
	background: #E4791D;
}

.footable > tbody > tr > td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	text-align: center;
	border-radius: 0 0 6px 0;
}

.section-tab-content {
	background: #edeef0 !important;
}

.row-filter {
	margin-bottom: 10px;
	margin-top: 30px;
}

.product-details-product-title {
	text-align: center;
}

.input-lg {
	border-radius: 0 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs > li:hover > a {
	background-color: #303030;
	color: #fff;
}

.row-cart-actions .btn:hover {
	color: #fff !important;
	background-color: #E4791D;
	border-color: #E4791D;
}

.product-story-info-box .product-story-info-text {
	max-width: 1000px;
}

.product-story-info-text .desc {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	min-height: 1px;
	position: relative;
	color: #575757;
}

.nav-tabs.flat li a {
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0;
}


