.sweet-alert {
	background-color: #454545;
	border-radius: 0;
}

.sweet-alert button {
	background-color: #F27474 !important;
}

.sweet-alert h2 {
	color: white;
}

.sweet-alert p {
	color: white;
}

.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}

.pager li > a, .pager li > span {
	border-radius: 0;
}

.alert-info {
	color: #E4791D;
	background-color: #454545;
	border-color: #2a2a2a !important;
}

tr.CartProduct td input {
	text-align: center;
}